<% layout("/layouts/boilerplate") %>

<body>
    <div class="row mb-5">
        <div class="col-8 offset-2">
            <div class="edit-form-container">
                <h1 class="edit-title mb-3">Edit listing</h1>
                <form action="/listings/<%= list._id %>/edit?_method=PUT" method="post" class="needs-validation " novalidate>
                    <div class="edit-form-group">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" placeholder="Add a catchy title" name="title" value="<%= list.title %>" required />
                    </div>
                    <div class="edit-form-group">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="description" class="form-control" placeholder="Enter description" required><%= list.description %></textarea>
                    </div>
                    <div class="edit-form-group">
                        <label for="image" class="form-label">Image URL</label>
                        <input type="text" class="form-control" placeholder="Enter image URL" name="image" value="<%= list.image.url %>" required />
                    </div>
                    <div class="edit-form-group">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" placeholder="Enter location" name="location" value="<%= list.location %>" required />
                    </div>
                    <div class="row">
                        <div class="col-md-8 edit-form-group">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" class="form-control" placeholder="India" name="country" value="<%= list.country %>" required />
                        </div>
                        <div class="col-md-4 edit-form-group">
                            <label for="price" class="form-label">Price</label>
                            <input type="text" class="form-control" placeholder="&#8377;" name="price" value="<%= list.price %>" required />
                        </div>
                    </div>
                    <button class="btn edit-btn" type="submit">Edit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/javasripts/formValidation.js"></script>
</body>
