<% layout("/layouts/boilerplate") %>




    <div class="card show-card-margin" >
        <div class="row g-0">
            <div class="col-md-4">
                <img src="<%= list.image.url %>" class="img-fluid rounded mx-auto d-block show-img" alt="..." >
            </div>
            <div class="col-md-8">
                <div class="card-body show-card">
                    <h2 class="card-title"><%= list.title %></h2>
                    <p class="card-text"><%= list.description %></p>
                    <p class="card-text">&#8377;<%= list.price.toLocaleString("en-In") %> / night</p>
                    <p class="card-text"><%= list.location %></p>
                    <p class="card-text"><%= list.country %></p>
                    <div class="buttons">
                        <a href="/listings/<%= list._id %>/edit">Edit</a>
                        <form action="/listings/<%= list._id %>/delete?_method=DELETE" method="post">
                            <button>Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
